<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>OJ • TodoMVC</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
                <!-- bower:css -->
                <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
                <link rel="stylesheet" href="bower_components/qunit/qunit/qunit.css" />
                <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
                <!-- endbower -->
	</head>
	<body>
<!--
		<section id="todoapp">
			<header id="header">
				<h1>todos</h1>
				<input id="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list"></ul>
			</section>
			<footer id="footer"></footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
-->
		<script type="text/template" id="item-template">
			<div class="view">
				<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
				<label><%- title %></label>
				<button class="destroy"></button>
			</div>
			<input class="edit" value="<%- title %>">
		</script>
		<script type="text/template" id="stats-template">
			<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
			<ul id="filters">
				<li>
					<a class="selected" href="#/">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<% if (completed) { %>
			<button id="clear-completed">Clear completed (<%= completed %>)</button>
			<% } %>
		</script>

<!-- bower:js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="bower_components/less.js/dist/less-1.7.0.js"></script>
<script src="bower_components/google-code-prettify/src/prettify.js"></script>
<script src="bower_components/qunit/qunit/qunit.js"></script>
<script src="bower_components/q/q.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/setimmediate/setImmediate.js"></script>
<script src="bower_components/es6-promise/promise.js"></script>
<script src="bower_components/localforage/dist/localforage.min.js"></script>
<script src="bower_components/Faker/Faker.js"></script>
<script src="bower_components/thindom/dist/thinDOM.min.js"></script>
<script src="bower_components/mousetrap/mousetrap.js"></script>
<script src="bower_components/es6-shim/es6-shim.js"></script>
<script src="bower_components/kapusta-jquery.sparkline/dist/jquery.sparkline.min.js"></script>
<script src="bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
<script src="bower_components/flot/jquery.flot.js"></script>
<script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script src="bower_components/pubsub-js/src/pubsub.js"></script>
<script src="bower_components/jquery-cookie/jquery.cookie.js"></script>
<script src="bower_components/html5-history-api/history.js"></script>
<script src="bower_components/jquery-validate/dist/jquery.validate.js"></script>
<script src="bower_components/ojs/dist/OJ.min.js"></script>
<script src="bower_components/todomvc-common/base.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="js/app.js"></script>
<script src="js/components/infofooter.js"></script>
<script src="js/components/todoapp.js"></script>
<script src="js/components/todoitem.js"></script>
<script src="js/models/todos.js"></script>
<script src="js/patch/thindom.js"></script>
<!-- endinject -->
	</body>
</html>
